.char-limit {
    display: inline;
    padding: 5px;
}

#find {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how-it-works {
    color: steelblue;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}